<section class="section-main" id="challenge">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2>Die Data Expedition</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Wie kann man mit Daten gute Geschichten erzählen? Und wie können digitale Projekte und Ideen zum Thema digitale Jugendbeteiligung am besten umgesetzt werden? Darüber möchten wir mit dir und anderen Interessierten aus der Jugendarbeit am <b>15. und 16. Juni 2018</b> auf unserer Data Expedition gemeinsam nachdenken und erste Projektideen prototypisch ausarbeiten. 
                </p>
                <p><b>Was ist eine Data Expedition?</b></p>
                <p>Eine Data Expedition ist ein zweitägiges Event, an dem Menschen aus unterschiedlichen Bereichen wie Projektmanagement, Bildungsarbeit, Design und Softwareentwicklung zusammenkommen. In kleinen Teams werden konkrete Probleme in Angriff genommen, eine Fragestellung beantwortet oder eine Story anhand von Daten erzählt. Ziel der Data Expedition ist es, gemeinsam eine Idee digital umzusetzen und im Peer-to-Peer-Ansatz von den Teammitgliedern zu lernen. 
                </p>
                <p>Du brauchst noch mehr Inspiration? Dann schau dir den StoryHunt an - unsere Data Expedition zum Thema EU-Finanztransparenz aus dem letzten Jahr: <a href="https://storyhunt.de.">https://storyhunt.de.</a>
                </p>
            </div>
            <div class="col-lg-4">
                <div>
                <p>
                <b>Wir suchen deine digitale Challenge!
                </b>Für unsere Data Expedition brauchen wir deine digitale Herausforderung: Welche Fragen rund um Digitalisierung, Jugendbeteiligung und Demokratie treiben dich um? Welche Themen bearbeitet euer Verband im Augenblick, welche Anliegen wollt ihr kommunizieren? Was wolltest du schon immer mal ausprobieren und digital umsetzen? Und welche Skills brauchst du dafür vielleicht noch? </p>
                <p>Wir sind auf der Suche nach Ideen und Fragestellungen für digitale Projekte in der Jugendarbeit und Menschen, die Lust haben, diese im Rahmen unserer Data Expedition einmal praktisch anzugehen!
                <p>Du hast tausende Ideen und Lust mitzumachen? Dann melde dich gleich an!</p> 
                <p>Die Teilnahme an der Data Expedition ist kostenlos, die Plätze sind begrenzt. Reise- und Unterkunftskosten werden von uns erstattet, für die Verpflegung ist gesorgt.
                </p>
                
            </div>
        </div>
        <!--<div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf"
               class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> ESIF Data Quality Report
            </a>-->
        </div>
    </div>
</section>
