<section class="section-main" id="challenge">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2>Die Data Expedition</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Wie kann man mit Daten gute Geschichten erzählen? Und wie können digitale Projekte und Ideen zum Thema digitale Jugendbeteiligung am besten umgesetzt werden? Darüber möchten wir mit dir und anderen Interessierten aus der Jugendarbeit am <b>15. und 16. Juni 2018</b> auf unserer Data Expedition gemeinsam nachdenken und erste Projektideen prototypisch ausarbeiten. 
                </p>
                <p><b>Was ist eine Data Expedition?</b></p>
                <p>Eine Data Expedition ist ein zweitägiges Event, an dem Menschen aus unterschiedlichen Bereichen wie Projektmanagement, Bildungsarbeit, Design und Softwareentwicklung zusammenkommen. In kleinen Teams werden konkrete Probleme in Angriff genommen, eine Fragestellung beantwortet oder eine Story anhand von Daten erzählt. Ziel der Data Expedition ist es, gemeinsam eine Idee digital umzusetzen und im Peer-to-Peer-Ansatz von den Teammitgliedern zu lernen. 
                </p>
                <p>Du brauchst noch mehr Inspiration? Dann schau dir den StoryHunt an - unsere Data Expedition zum Thema EU-Finanztransparenz aus dem letzten Jahr: <a href="https://storyhunt.de.">https://storyhunt.de.</a>
                </p>
            </div>
            <div class="col-lg-4">
                <div>
                <p>
                With The Story Hunt, we want to get together and venture into the data in order to find out whether it contains similar, exciting stories.</p>
                <p>A first insight from the Czech dataset, for instance, was that 80% of their ESIFunds was received by public institutions. Therefore, one of the ideas includes focussing on recipients such as universities that are frequently financed through EU research grants. <p>Another approach might be looking into the EU’s funding priorities such as job creation and evaluating these by using the <a href="http://ec.europa.eu/esf/main.jsp?catId=576&langId=en">operational programmes</a>. <p>However, we are very open to any suggestions and will develop new project ideas  together on the first day of the weekend workshop.</p>
                </p>
            </div>
        </div>
        <!--<div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf"
               class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> ESIF Data Quality Report
            </a>-->
        </div>
    </div>
</section>
