<!-- Footer -->
<footer class="text-center">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 footer-logo-box">
                    <div class="col-sm-4">
                        <img class="img-responsive footer-logo footer-logo-obeu" src="img/Demokratielabore.jpg"/>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive footer-logo" src="img/Logo_okfde_black.png"/>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive footer-logo footer-logo-ds" src="img/logo_bpb.jpg"/>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive footer-logo footer-logo-ds" src="img/BMFSFJ_DL_logo.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Die Demokratielabore sind ein Modellprojekt der <a href="https://www.okfn.de/">Open Knowledge Foundation Deutschland</a>, das vom <a href="https://www.bmfsfj.de/">Bundesministerium für Familie, Senioren, Frauen und Jugend</a> im Rahmen des Bundesprogramms <a href="https://www.demokratie-leben.de/">„Demokratie leben!“</a> und von der <a href="https://www.bpb.de">Bundeszentrale für politische Bildung</a> gefördert wird.</p>
                    <p>Images: <a href="https://wiki.creativecommons.org/wiki/CC0">CC BY 2.0</a>. All other content: <a
                            href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a>.</p>
                    <p><b><a style="color:black" href="https://okfn.de/impressum/">Legal Notice</a></b>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
