<section class="section-main" id="none">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Willkommen! bei der Data Expedition der Demokratielabore!</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p><h3>Willkommen bei der Data Expedition der Demokratielabore!</h3> Du oder dein Jugendverband wollt euch politisch engagieren, eure Interessen vertreten und euch einmischen? </p>
                <p>Wir laden dich am <b>15. und 16. Juni 2018</b> zu unserer Data Expedition im Rahmen der <a href="https://demokratielabore.de/">Demokratielabore</a> nach Berlin ein: Gemeinsam wollen wir uns praktisch mit (jugend)politischen, digitalen Fragestellungen und Problemen unter dem Gesichtspunkt Demokratie und Jugendbeteiligung auseinandersetzen.</p>
                <p>The workshops are tailored to aspiring data journalists and non-profit organizations that are
                    interested in improving their data-literacy skills. They are run by our team and by trusted members
                    of the civic tech community in Germany.</p>
            </div>
        </div>
    </div>
</section>
