<section class="section-main" id="data">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2>Datenspaziergang</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Nach der Data Expedition ist vor dem Datenspaziergang: Du hast Lust, deine Umgebung einmal aus Datensicht kennenzulernen? Dann melde dich am beste gleich noch für unseren Datenspaziergang an!  
                </p>
                <p><b>Was ist ein Datenspaziergang?
                </b><br/>Ein Datenspaziergang ist ein gemeinsamer analoger Lauf durch ein Viertel, bei dem ihr euer Umfeld neu entdeckt: Wir zeigen, wie die digitale Welt mit unserem Alltag verwoben ist, wie Daten politische Entscheidungen prägen und wo sie erhoben werden. Digitaler Begleiter für diese Tour ist eine Web-App, die den Spaziergang dokumentiert und es Interessierten erlaubt, eigene Touren zu planen und durchzuführen.</p>
            </div>
            <div class="col-lg-4">
                <div>
                <p>Unser Datenspaziergang findet am 17. Juni durch Berlin Kreuzberg statt. Die genauen Uhrzeiten werden in Kürze kommuniziert. Die Teilnahme ist kostenlos.</p>
                <a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSf55_sVwYFWv0alPKeTVAGhniSC0paV20QThtvGdJyIJZ6wMg/viewform" role="button">Zur Anmeldung</a>
            </div>
        </div>
        <!--<div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf"
               class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> ESIF Data Quality Report
            </a>-->
        </div>
    </div>
</section>