<section class="section-alter" id="workshops">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Was sind die Demokratielabore?</h2>
                <hr class="star-light">
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                   <a href="https://demokratielabore.de">Die Demokratielabore</a> sind ein Projekt des gemeinnützigen Open Knowledge Foundation Deutschland e.V. Dabei führen wir verschiedene Workshop- und Aktionsformate mit Jugendlichen im Alter von 12 bis 21 Jahren rund um Digitalisierung, Technologien und gesellschaftliches Miteinander durch. Dazu arbeiten wir sowohl eng mit außerschulischen Jugendeinrichtungen als auch überregionalen Bildungsverbänden und Initiativen zusammen – deutschlandweit. </p>
                </p>
            </div>
            <div class="col-lg-4">
                <p>Ein Modul der Demokratielabore beschäftigt sich insbesondere mit der <b>Förderung von Fachkräften in der Jugendarbeit:</b> Den Mitarbeiter*innen dieser Einrichtungen wollen wir neue Zugänge zur Digitalisierung ermöglichen, deren gesellschaftliche Bedeutung diskutieren und sie dazu befähigen, Daten und digitale Tools in der Jugendarbeit zielgerichtet zu nutzen.</p>
                <p>
                Dazu bieten wir in diesem Jahr vier verschiedene Schulungen an:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>Workshop I: Offene Daten in der Jugendarbeit</h3>
                <h4>06 April 2018</h4>
                <p>Offene Daten & ihre Verwendung in der Jugendarbeit</p>
                    <h4><a href="https://demokratielabore.de/workshops/downloads/Demokratielabore_Lernmaterial_OpenData-Portale.pdf">Workshop Material</a></h4>

            </div>
            <div class="col-lg-4">
                <h3>Workshop II: Digitales Storytelling</h3>
                <h4>20 April 2018</h4>
                <p>In Workshop II für Fachkräfte in der Jugendarbeit zeigen wir, wie man mit Daten gute Geschichten erzählen kann</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>Workshop III: Citizen Science</h3>
                <h4>11 Mai 2018</h4>
                <p>In Workshop III für Fachkräfte in der Jugendarbeit zeigen wir, sich mit kleinen Hardwarebausteinen die Umwelt neu entdecken lässt. </p>
            </div>
            <div class="col-lg-4">
                <h3>Workshop IV: Debatten auf Twitter analysieren</h3>
                <h4>01 Juni 2018</h4>
                <p>In Workshop IV für Fachkräfte in der Jugendarbeit nehmen wir Debatten und Social Bots auf Twitter genauer unter dir Lupe.</p>
                <button type="button" class="btn btn-secondary btn-lg">Zur Anmeldung</button>
 
            </div>
        </div>
        </div>
    </div>
</section>
